// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-color: violet;
}

img#show {
    width: 40rem;
    height: 40rem;
}

img {
    width: 15rem;
    height: 15rem;
    border: .3rem solid black
}

a {
    border: .1rem ridge black;
    margin: .4rem;
    background-color: gray;
    padding: .1rem .1rem .3rem;
    text-decoration-color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
}

h1 {
   font-family: 'Courier New', Courier, monospace; 
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

span.item {
    font-family: 'Courier New', Courier, monospace; 
    margin-left: 50rem;
}

.cards {
    display: flex;
}

.card {
    padding: 2rem;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}



